.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.2s ease;
  right: 0;
  height: 100%;
  z-index: 5;
  background-color: rgba(00, 00, 00, 0.48);
}
.form__wrapper {
  height: 789px;
  width: 460px;
  background: #ffffff;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02),
    0px 32px 64px rgba(44, 39, 56, 0.04);
  border-radius: 24px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.form__header {
  margin-left: 30px;
  margin-bottom: 58px;
}
.form__title {
  text-align: left;
  font-size: 34px;
  font-weight: 700;
}
.form__link {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}
.form__link-redirect {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #0880ae;
  cursor: pointer;
}
.form__link-redirect:hover {
  text-decoration: underline;
}
.form__content {
  position: relative;
  text-align: left;
}
.form__wrapper-content {
  width: 100%;
}
.form__input {
  width: calc(100% - 60px);
  height: 52px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 6px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 7px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 21px;
  color: #7c9cbf;
  padding-left: 16px;
}
.form__input:focus {
  outline: none;
}
.input:-internal-autofill-selected {
  background: #ffffff;
}
.form__input::placeholder {
  color: #7c9cbf;
}
.form__error-message {
  margin: 0 0 0 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ff7171;
}
.form__label {
  margin-left: 30px;
  margin-top: 8px;
  margin-bottom: 7px;
  height: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #756f86;
}
@media screen and (max-width: 360px) {
  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    /* width: 350px;
    height: 789px; */
  }
  .form__wrapper-content {
    height: 100%;
    overflow: scroll;
  }
  .form__input-select-list {
    list-style: none;
    /* display: block; */
    /* position: fixed; */
    z-index: 100;
    height: auto;
    width: calc(100% - 60px);
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    /* margin-top: 60px; */
    /* margin-bottom: 8px; */
    font-size: 16px;
    /* line-height: 21px; */
    color: #7c9cbf;
    padding: 5px 0 5px 0;
    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04),
      0px 20px 20px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
  }
}
@media (min-width: 361px) {
  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 460px;
    height: 100%;
    max-height: 850px;
    /* width: 350px;
    height: 789px; */
  }
  .form__input-select-list {
    list-style: none;
    /* display: block; */
    /* position: fixed; */
    z-index: 100;
    height: auto;
    width: calc(100% - 60px);
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    /* margin-top: 60px; */
    /* margin-bottom: 8px; */
    font-size: 16px;
    /* line-height: 21px; */
    color: #7c9cbf;
    padding: 5px 0 5px 0;
    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04),
      0px 20px 20px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
  }
}
.form__wrapper-content {
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.form__wrapper-content::-webkit-scrollbar {
  display: none;
}
.form__rule-label {
  display: flex;
  align-items: center;
}
.form__rule-check-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
  height: 28px;
  width: 28px;
  margin-right: 8px;
}
.form__rule-check-checkbox:active {
  border: 2px solid #0880ae;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
}
.form__rule-check-label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #756f86;
}
.form__rule-check-label-redirect {
  color: #0880ae;
  cursor: pointer;
}
.isActive {
  border: 2px solid #0880ae;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
}
.form__rule-check-checkbox-image {
  filter: brightness(90%) contrast(0%) sepia(75%) invert(10%) saturate(2120%)
    hue-rotate(195deg);
}
.form__btn {
  width: calc(100% - 60px);
  margin: 40px 30px 40px 30px;
}
.form__input-select {
  width: calc(100% - 60px);
  height: 52px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 6px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 7px;
  /* margin-bottom: 4px; */
  font-size: 16px;
  line-height: 21px;
  color: #7c9cbf;
  padding-left: 16px;
  padding-right: 21px;
  /* vertical-align: middle; */
  display: flex;
  justify-content: space-between;
}
.form__input-select-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #756f86;
  height: 44px;
}
.form__input-select-list-item div {
  padding: 12px 0 12px 15px;
}
.form__input-select-list-item:hover {
  background: #ebf4f8;
}
.form__input-select-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}
.form__input-select-wrapper ul {
  margin-top: 4px;
}
