<template>
  <button :disabled="btnDisabled" class="btn">
    {{ btnTitle }}
  </button>
</template>
<script>
export default {
  props: {
    btnTitle: {
      type: String,
      default: "Button",
    },
    btnDisabled: {
      type: Boolean,
      required: true,
      default: true,
    },
  },
  setup(props) {
    return {};
  },
};
</script>
<style>
.btn {
  height: 56px;
  color: white;
  background-color: #0880ae;
  border: none;
  border-radius: 6px;
  /* margin: 10px; */
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08),
    0px 4px 8px rgba(44, 39, 56, 0.08);
}
.btn:disabled,
.btn:disabled:hover {
  background: #dbe2ea;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.08);
  color: #2c2738;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.btn:active {
  border: 2px solid rgba(44, 39, 56, 0.86);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001),
    0px 4px 8px rgba(44, 39, 56, 0.08);
}
.btn:hover {
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.08),
    0px 24px 48px rgba(44, 39, 56, 0.16);
}
</style>
