<template>
  <div>
    <p @click="handleIsForm">Форма</p>
    <Form v-if="isForm">
      <Registration />
    </Form>
  </div>
</template>
<script>
import Form from "@/components/Form";
import Registration from "@/components/UI/Registration";
import { ref } from "@vue/reactivity";
export default {
  components: {
    Form,
    Registration,
  },
  setup() {
    const isForm = ref(false);
    const handleIsForm = () => {
      isForm.value = true;
    };
    return {
      isForm,
      handleIsForm,
    };
  },
};
</script>
