<template>
  <div class="container">
    <div class="form__wrapper">
      <div class="form__wrapper-content">
        <div class="form__header">
          <p class="form__title">Регистрация</p>
          <p class="form__link">
            Уже есть аккаунт? <span class="form__link-redirect">Войти</span>
          </p>
        </div>
        <div class="form__content">
          <form @submit.prevent="onSubmit">
            <p for="name" class="form__label">Имя</p>
            <input
              id="name"
              type="text"
              class="form__input"
              v-model="userName"
              placeholder="Введите Ваше имя"
            />
            <p class="form__error-message">{{ errorMessageName }}&nbsp;</p>
            <p for="email" class="form__label">Email</p>
            <input
              id="email"
              type="email"
              class="form__input"
              v-model="userEmail"
              placeholder="Введите Ваш email"
            />
            <p class="form__error-message">{{ errorMessageEmail }}&nbsp;</p>
            <p for="phone_number" class="form__label">Номер телефона</p>
            <input
              id="phone_number"
              type="text"
              class="form__input"
              v-model="userPhone"
              placeholder="Введите номер телефона"
            />
            <p class="form__error-message">{{ errorMessagePhone }}&nbsp;</p>
            <p for="phone_number" class="form__label">Язык</p>
            <div class="form__input-select-wrapper">
              <div class="form__input-select" @click="handleIsLangSelect">
                <p>{{ language }}</p>
                <p>
                  <img
                    src="../../assets/img/arrow.svg"
                    alt=""
                    class="form__rule-check-checkbox-image"
                  />
                </p>
              </div>
              <ul class="form__input-select-list" v-if="isLangSelect">
                <li
                  class="form__input-select-list-item"
                  v-for="(item, idx) in langList"
                  :key="idx"
                  @click="handleUserLangSelected(item)"
                >
                  <div>{{ item }}</div>
                </li>
              </ul>
            </div>
            <div v-if="!isLangSelect" class="form__footer-wrapper">
              <div class="form__rule-label">
                <span
                  class="form__rule-check-checkbox form__label"
                  :class="{ isActive: isRuleCheck }"
                  @click="handleIsRuleCheck"
                  ><img
                    v-if="isRuleCheck"
                    class="form__rule-check-checkbox-image"
                    src="../../assets/img/mask.svg"
                    alt=""
                /></span>
                <div>
                  <span class="form__rule-check-label"
                    >Принимаю
                    <span class="form__rule-check-label-redirect">условия</span>
                    использования</span
                  >
                </div>
              </div>
              <Button
                :btnWidth="100"
                class="form__btn"
                :btnDisabled="btnDisabled"
                :btnTitle="'Зарегистрироваться'"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Button from "@/components/Button.vue";
import { computed, ref, watch, watchEffect } from "vue";
export default {
  components: { Button },
  setup() {
    const language = ref("Язык");
    const langList = ["Русский", "Английский", "Китайский", "Испанский"];
    const btnTitle = ref("rrrrr");
    const userName = ref("");
    const isUserChecked = ref(false);
    const isEmailChecked = ref(false);
    const isPhoneChecked = ref(false);
    const userEmail = ref("");
    const userPhone = ref("");
    const errorMessageName = ref("");
    const errorMessageEmail = ref("");
    const errorMessagePhone = ref("");
    const isRuleCheck = ref(false);
    const btnDisabled = ref(true);
    const isLangSelect = ref(false);
    const handleIsRuleCheck = () => {
      isRuleCheck.value = !isRuleCheck.value;
    };
    watch(
      () => userName.value,
      (nextValue, prevValue) => {
        if (
          !/^([аАбБвВгГдДеЕёЁжЖзЗиИйЙкКлЛмМнНоОпПрРсСтТуУфФхХцЦчЧшШщЩъЪыЫьЬэЭюЮяЯ]{2,}\s[аАбБвВгГдДеЕёЁжЖзЗиИйЙкКлЛмМнНоОпПрРсСтТуУфФхХцЦчЧшШщЩъЪыЫьЬэЭюЮяЯ]{1,}'?-?[аАбБвВгГдДеЕёЁжЖзЗиИйЙкКлЛмМнНоОпПрРсСтТуУфФхХцЦчЧшШщЩъЪыЫьЬэЭюЮяЯ]{2,}\s?([аАбБвВгГдДеЕёЁжЖзЗиИйЙкКлЛмМнНоОпПрРсСтТуУфФхХцЦчЧшШщЩъЪыЫьЬэЭюЮяЯ]{1,})?)/.test(
            nextValue
          ) ||
          nextValue.split(" ").length > 2
        ) {
          errorMessageName.value = "Введено некорректное значение";
          isUserChecked.value = false;
        } else {
          errorMessageName.value = "";
          isUserChecked.value = true;
        }
      }
    );
    watch(
      () => userEmail.value,
      (nextValue, prevValue) => {
        if (!/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i.test(nextValue)) {
          errorMessageEmail.value = "Введено некорректное значение";
          isEmailChecked.value = false;
        } else {
          errorMessageEmail.value = "";
          isEmailChecked.value = true;
        }
      }
    );
    watch(
      () => userPhone.value,
      (nextValue, prevValue) => {
        if (
          !/(?=(^\+{1,1}\d{1,1}\({1,1}\d{3}\){1,1}\-{1,1}\d{3}\-{1,1}\d{2}\-{1,1}\d{2})|(^\+7\d{10}))/.test(
            nextValue
          )
        ) {
          errorMessagePhone.value = "Введено некорректное значение";
          isPhoneChecked.value = false;
        } else {
          let checkPhoneValue = [];
          nextValue
            .split("")
            .forEach((v) => (!/\D/.test(v) ? checkPhoneValue.push(v) : v));
          checkPhoneValue.length > 11
            ? ((errorMessagePhone.value = "Введено некорректное значение"),
              (isPhoneChecked.value = false))
            : ((errorMessagePhone.value = ""), (isPhoneChecked.value = true));
        }
      }
    );
    watchEffect(() => {
      isUserChecked.value &&
      isEmailChecked.value &&
      isPhoneChecked.value &&
      isRuleCheck.value
        ? (btnDisabled.value = false)
        : (btnDisabled.value = true);
    });
    const handleIsLangSelect = () => {
      isLangSelect.value = !isLangSelect.value;
    };
    const handleUserLangSelected = (value) => {
      language.value = value;
      isLangSelect.value = false;
    };
    const onSubmit = () => {
      console.log(`Name: ${userName.value}`);
      console.log(`Email: ${userEmail.value}`);
      console.log(`Phone: ${userPhone.value}`);
      console.log(`Language: ${language.value}`);
    };
    return {
      userName,
      userEmail,
      userPhone,
      language,
      langList,
      isRuleCheck,
      handleIsRuleCheck,
      btnDisabled,
      onSubmit,
      errorMessageName,
      errorMessageEmail,
      errorMessagePhone,
      btnTitle,
      isLangSelect,
      handleIsLangSelect,
      handleUserLangSelected,
    };
  },
};
</script>
<style></style>
